- name: install Docker dependencies
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - python3-docker
    state: present
    update_cache: true

- name: create directory for docker gpg key
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'
    
- name: add Docker gpg key
  get_url:
    url: https://download.docker.com/linux/debian/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: add Docker repo
  apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
    state: present
    filename: docker

- name: install docker engine & compose
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io

      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
    update_cache: yes

- name: check if docker enabled & started
  service:
    name: docker
    state: started
    enabled: yes

- name: switch ssh port to 2022
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Port'
    line: 'Port 2022'
  notify: restart ssh

- name: restart ssh
  service:
    name: ssh
    state: restarted

- name: create Gitea directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - /var/lib/gitea
    - /var/lib/gitea/data
    - /var/lib/gitea/config

- name: run Gitea container
  community.docker.docker_container:
    name: gitea
    image: "gitea/gitea:{{ gitea_version }}"
    state: started
    restart_policy: always
    ports:
      - "80:3000"
      - "22:22"
    volumes:
        - /var/lib/gitea/data:/data
        - /etc/timezone:/etc/timezone:ro
        - /etc/localtime:/etc/localtime:ro
    env:
      USER_UID: "1000"
      USER_GID: "1000"

